  ---
  Web Linking Response
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

Web Linking Response

  {{{http://tools.ietf.org/html/rfc5988}RFC 5988 "Web Linking"}} recommends to use
  <<<Link>>> HTTP header for linking pages.
  {{{./apidocs-${project.version}/com/jcabi/http/response/WebLinkingResponse.html}<<<WebLinkingResponse>>>}}
  implements parsing of such header. This is how you can use it:

+--
URI destination = new JdkRequest("http://my.example.com")
  .fetch()
  .as(WebLinkingResponse.class)
  .link("next") // IOException here if such a link doesn't exist
  .uri();
+--

