  ---
  HTTP Request that Retries on Failure
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

HTTP Request that Retries on Failure

  {{{./apidocs-${project.version}/com/jcabi/http/wire/RetryWire.html}<<<RetryWire>>>}}.
  is a decorator of
  {{{./apidocs-${project.version}/com/jcabi/http/Wire.html}<<<Wire>>>}}
  that retries to fetch a response a few times before giving up and
  throwing <<<IOException>>>, for example:

+--
String body = new JdkRequest("http://www.google.com")
  .through(RetryWire.class);
  .fetch()
  .body();
+--

  If it recommended to use this decorator in production, to avoid
  accidental exceptions due to unstable connection.
