# Web Linking Response

[RFC 5988 "Web Linking"](http://tools.ietf.org/html/rfc5988) recommends to use
`Link` HTTP header for linking pages.
[`WebLinkingResponse`](./apidocs-${project.version}/com/jcabi/http/response/WebLinkingResponse.html)
implements parsing of such header. This is how you can use it:

```java
URI destination = new JdkRequest("http://my.example.com")
  .fetch()
  .as(WebLinkingResponse.class)
  .link("next") // IOException here if such a link doesn't exist
  .uri();
```

